{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid hero">
    <div class="row hero-image">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active image-1">
                <img class="d-block w-100" src="/media/red_wine.jpg" alt="Red wine">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/media/random.jpg" alt="White wine">
              </div>
            </div>
          </div>
          <div class="covertext">
            <div class="col-lg-10" style="float:none; margin:0 auto;">
              <h3 class="subtitle">Wine delivered straight to your door...</h3>
              <div class="my-5">
                <h4>
                    <a href="" class="btn btn-lg btn-secondary text-uppercase py-3 shop-now">Shop Now</a>
                </h4>
            </div>
            </div>
          </div>
    </div>
</div>
{% endblock %}


