<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="" class="nav-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" aria-labelledby="full-range-link" aria-haspopup="false" aria-expanded="false">
                Full Range
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wines
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">White Wine</a>
                <a href="" class="dropdown-item">Red Wine</a>
                <a href="" class="dropdown-item">Rosé Wine</a>
                <a href="" class="dropdown-item">All Wine</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Champagne and Sparkling
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Champagne</a>
                <a href="" class="dropdown-item">Prosecco</a>
                <a href="" class="dropdown-item">All Sparkling Wine</a>
            </div>
        </li>
    </ul>
</div>