<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="" class="nav-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" aria-labelledby="all-products-link" aria-haspopup="false" aria-expanded="false">
                Full Range
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-black mr-5" href="#" id="wines-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wines
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wines-link">
                <a href="" class="dropdown-item">White Wine</a>
                <a href="" class="dropdown-item">Red Wine</a>
                <a href="" class="dropdown-item">Rosé Wine</a>
                <a href="" class="dropdown-item">All Wine</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-black mr-5" href="#" id="champagne-sparkling-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Champagne and Sparkling
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="champagne-sparkling-link">
                <a href="" class="dropdown-item">Champagne</a>
                <a href="" class="dropdown-item">Prosecco</a>
                <a href="" class="dropdown-item">All Sparkling Wine</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-black mr-5" href="#" id="country-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Country
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="country-link">
                <a href="" class="dropdown-item">Argentina</a>
                <a href="" class="dropdown-item">Australia</a>
                <a href="" class="dropdown-item">Chile</a>
                <a href="" class="dropdown-item">France</a>
                <a href="" class="dropdown-item">Italy</a>
                <a href="" class="dropdown-item">New Zealand</a>
                <a href="" class="dropdown-item">South Africa</a>
                <a href="" class="dropdown-item">Spain</a>
            </div>
        </li>
    </ul>
</div>
