<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="{% url 'products' %}" class="nav-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" aria-labelledby="all-products-link" aria-haspopup="false" aria-expanded="false">
                Full Range
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-black mr-5" href="#" id="wines-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wine
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wines-link">
                <a href="{% url 'products' %}?category=white_wine" class="dropdown-item">White Wine</a>
                <a href="{% url 'products' %}?category=red_wine" class="dropdown-item">Red Wine</a>
                <a href="{% url 'products' %}?category=rose_wine" class="dropdown-item">Rosé Wine</a>
                <a href="{% url 'products' %}?category=white_wine,red_wine,rose_wine" class="dropdown-item">All Wine</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-black mr-5" href="#" id="champagne-sparkling-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Champagne and Sparkling
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="champagne-sparkling-link">
                <a href="{% url 'products' %}?category=champagne" class="dropdown-item">Champagne</a>
                <a href="{% url 'products' %}?category=prosecco" class="dropdown-item">Prosecco</a>
                <a href="{% url 'products' %}?category=champagne,prosecco" class="dropdown-item">All Sparkling Wine</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-black mr-5" href="#" id="country-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Country
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="country-link">
                <a href="{% url 'products' %}?country=argentina" class="dropdown-item">Argentina</a>
                <a href="{% url 'products' %}?country=australia" class="dropdown-item">Australia</a>
                <a href="{% url 'products' %}?country=chile" class="dropdown-item">Chile</a>
                <a href="{% url 'products' %}?country=france" class="dropdown-item">France</a>
                <a href="{% url 'products' %}?country=italy" class="dropdown-item">Italy</a>
                <a href="{% url 'products' %}?country=new_zealand" class="dropdown-item">New Zealand</a>
                <a href="{% url 'products' %}?country=south_africa" class="dropdown-item">South Africa</a>
                <a href="{% url 'products' %}?country=spain" class="dropdown-item">Spain</a>
            </div>
        </li>
    </ul>
</div>
