{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container main">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4">Review</h2>
            <h5 class="text-muted">{{ product.name }}</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_review' product.id %}" class="form mb-2">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-left">
                    <button class="btn btn-outline-dark btn-light rounded-0" type="submit">Add Review</button>
                    <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                </div>
            </form>
        </div>
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
    </div>
</div>
{% endblock %}

